<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.mateuszwalczyk.soldierapp"/>
    <context:property-placeholder location="classpath:barrack.properties"/>

    <bean id="mission" class="com.mateuszwalczyk.soldierapp.domain.Mission"/>

    <bean id="soldier" class="com.mateuszwalczyk.soldierapp.domain.Soldier">
        <constructor-arg index="0" value="VanDame"/>
        <constructor-arg index="1" value="27"/>
        <property name="mission" ref="mission"/>
    </bean>

    <bean id="barrack" class="com.mateuszwalczyk.soldierapp.domain.Barrack" init-method="build" destroy-method="tearDown">
        <constructor-arg index="0" ref="soldier"/>
        <property name="name" value="${my.barrack.name:New Barrack}"/>
    </bean>


</beans>
