<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"/>

    <script th:scr="@{webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:scr="@{webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>

</head>
<body>
<div class="container">

    <form class ="form-group" th:object="${editGame}" th:action="@{/admin/edit/}" th:method="post">

        <div class ="form-group">
            <h1>Edit game</h1>
            <label class="control-label">Title</label>
            <input type="text" class="form-control" th:field="*{name}"/>
            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"/>
        </div>

        <div class="form-group">
            <label class="control-label">Price</label>
            <input type="text" class="form-control" th:field="*{price}"/>
            <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}"/>
        </div>

        <div class="form-group">
            <label class="control-label">Amount</label>
            <input type="text" class="form-control" th:field="*{howMany}"/>
            <p th:if="${#fields.hasErrors('howMany')}" th:errors="*{howMany}"/>
        </div>

        <div class="row">
            <button type="submit" class="btn btn-info">Edit</button>
            <a href="/admin/games" class="btn btn-danger">Cancel</a>
        </div>

    </form>
</div>
</body>
</html>